.section-5-divider{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNlZGYxZmYiPjxwYXRoIGQ9Ik0wIDEyNy44OTlsNjAuNjEzIDQuODc4IDk1LjY0NS02LjIxMSA4Ni4zNjMtMTYuMDc0IDc4LjY4NCA5Ljg4MyA5MC4xMzYtMjEuNTk0IDk0LjQ1NCA3LjU3NCA3Ny45MjUtMTcuNjYgOTEuNjY0IDIwLjc5OCA3Ni45NjEtMTIuNjQ5IDYzLjY2NC0yMS40MjIgOTcuNjAyIDcuMDcgODMuNjcyLTI5LjYxNyA2Ni4yODUgMTEuNjc4IDcwLjc5My0yMy4zMzQgNzQuODYzLTQuNjQxTDEyODAgMHYxNDBIMHoiIGZpbGwtb3BhY2l0eT0iLjUiLz48cGF0aCBkPSJNMCAxMjYuNzFsNjAuNjEzIDcuNDE1TDE1Ni4yNTcgMTMxbDg2LjM2NC0xMy44NzkgNzguNjgzIDkuNzMxIDkwLjEzNy0xNy4wNTkgOTQuNDUzIDcuNjY2IDc2LjkyNi0xMS44MzMgODIuNjY0IDEzLjkzNSA3Ni45NjEtOC40NzUgNzMuNjY0LTIyLjEyNiA5Ny42MDEgNy4zMjggODMuNjcyLTIyLjk1MiA2Ni4yODUgMTAuOTMzIDcwLjc5NC0xOC4yMjRoNzkuODYyTDEyODAgMzUuODM4VjE0MEgweiIvPjwvZz48L3N2Zz4=);
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    transform: scale(-1);
}
.section-5-lego{
    position: absolute;
    top: 5px;
    right: 50%;
}
.section-5-h1{
    color: #0C71C3;
    font-size: 2rem;
    font-weight: 200;


}
.section-5-images{
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
}

.section-5-images>div{
    display: flex;
    flex-direction: column;
}


.section-5-images-1 img{
    opacity: 1;
    position: relative;
    border-radius: 0;
    transition: border-radius 300ms ease 0ms;
}



.section-5-images-2 img:hover{
    opacity: 0.3;
    border-radius: 10px;
    transition: border-radius 300ms ease 0ms;
}

.section-5-images-3 img:hover{
    opacity: 0.3;
    border-radius: 10px;
    transition: border-radius 300ms ease 0ms;
}

.section-5-images-4 img:hover{
    opacity: 0.3;
    border-radius: 10px;
    transition: border-radius 300ms ease 0ms;
}


.section-5-images img{
    width: 200px;
    box-shadow: 0px 0 27px 0px grey;
}
.section-5-images p{
    text-align: end;
    text-shadow: 2px 1px grey;
    font-weight: 600;
}

.section-5-images span{
    text-align: end;
}
.section-5-button-1{
    background-color: #E3EFF8;
    border: 2px solid #2EA3F2;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    transition: border-radius .5s,border-radius .5s,background-color .5s,padding-right .5s,border .5s;
}

.section-5-button-1 span{
    font-weight: 500;
    color: #37A7F3;
}

.section-5-button-1:hover{
    border: 2px white solid;
    background-color: #F5F7FF;
    text-align: start;
    padding-right: 1.5rem;
    padding-left: 0;
    border-radius: 0;

}

.section-5-button-1:hover:before{
    content: '>';
    margin-right: .5rem;
    border-color:white;
    background-color: transparent;
    text-align: start;


}

.section-5-button-1 span:hover{
    text-align: end;
}
.text {
    background-color: #003cff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 227px;
    left: 225px;
    opacity: 0;
}
.section-5-images-1 img .text:hover{
    opacity: 1;
}
.section-5-button{
    width: 100px;
    background-color: #2E298E;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    border-radius: 50px;
}
.section-5-button p{
    font-size: 18px;
    margin: 0;
}

.section-5-button-nav{
    display: flex;
    justify-content: center;
}
.section-5-button:hover{
    background-color: #EDF1FF;
    color: #0E72C3;

}
.section-5-button{
    margin: 0 20px;
}
.section-5-images-1{
    display: flex;
    align-items: end;
   margin:0 20px;
}
.section-5-images-1 .plus-button{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: blue;
    border-radius: 50%;
    font-size: 2rem;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.section-5-image-container{
    position: relative;
}
.section-5-image-container .plus-button{
    display: none;
}
.section-5-image-container:hover .plus-button{
    display: flex;
}

.section-5-image-container:hover img{
    opacity: 0.3;
    position: relative;
    border-radius: 10px;
    transition: border-radius 300ms ease 0ms;
}
.section-5-price{
    display: flex;
    margin-bottom: 15px;
}
.section-5-price-1{
    margin-right: 5px;
}
.section-5-price-2{
    text-decoration: line-through;
    color: gray;
}